:root {
  --alert-denied: #f44336;
  --alert-approve: #04aa6d;
}

.alert {
  align-items: center;
  bottom: 0;
  display: none;
  font-family: var(--texto-longo);
  font-size: 2rem;
  justify-content: space-between;
  left: 50%;
  margin-bottom: 2rem;
  padding: 20px;
  color: white;
  position: fixed;
  transform: translateX(-50%);
  width: 80%;
  z-index: 10;
}

.alert.danger {
  background-color: var(--alert-denied);
  display: flex;
}

.alert.sucess {
  background-color: var(--alert-approve);
  display: flex;
}

.close-btn {
  background-color: transparent;
  border: none;
  color: white;
  margin-left: 2rem;
  font-size: 4rem;
  line-height: 3rem;
  cursor: pointer;
  transition: 0.3s;
}

.closed {
  animation: disapear-down forwards 0.7s;
}
