@import url("menu.css");
@import url("banner.css");
@import url("about.css");
@import url("footer.css");
@import url("alerts.css");
@import url("forms.css");
@import url("sobre.css");
@import url("galeria.css");
@import url("decorations.css");
@import url("admin.css");
@import url("perfil.css");
@import url("map.css");
@import url("criadores.css");

@font-face {
  font-family: "Jersey M54";
  src: url("../font/Jersey\ M54.ttf") format("truetype");
}

:root {
  /*Colors*/
  --bg-color: #f0edf3;
  --menu-text: #ced4e5;
  --hamburguer: black;
  --menu-text-hover: #f8f8f8;
  --menu-btn: #ced4e5;
  --slogan: white;
  --tabela: rgb(86, 5, 140);
  --hover-admin: rgba(0, 0, 0, 0.5);
  --footer-color: #d5d4d3;
  --gradient: linear-gradient(
    90deg,
    rgba(255, 0, 0, 0.806),
    rgba(15, 1, 210, 0.823)
  );
  --gradient45: linear-gradient(
    45deg,
    rgba(255, 0, 0, 0.806),
    rgba(15, 1, 210, 0.823)
  );
  --gradient-footer: linear-gradient(0deg, #4b0102, #c00b0e);
  --patrocinadores: #170f0f;
  /*Tipografia*/
  --funcional: "Rubik", sans-serif;
  --texto-longo: "Poppins", sans-serif;
  --titulo-destacado: "Jersey M54", sans-serif;
  font-size: 66.25%;
}

/* Mobile Font */
@media (max-width: 1200px) {
  :root {
    font-size: 61%;
  }
}

@media (max-width: 992px) {
  :root {
    font-size: 59%;
  }
}

@media (max-width: 860px) {
  :root {
    font-size: 57%;
  }
}

@media (max-width: 480px) {
  :root {
    font-size: 55%;
  }
}

/* Reset CSS */
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
article,
aside,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background-color: var(--bg-color);
  overflow-x: hidden;
}

.whatsapp-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #25d366, #64d872);

  bottom: 3rem;
  border-radius: 5rem;
  color: #ffffff;
  font-size: 4rem;
  height: 7rem;
  width: 7rem;
  position: fixed;
  right: 3rem;
  transition: transform 0.3s;
}

.whatsapp-icon:hover {
  transform: scale(1.2) rotate(5deg);
}

.title {
  font-family: var(--titulo-destacado);
  font-size: 3rem;
  margin-bottom: 3rem;
}

@media (max-width: 280px) {
  .title {
    width: 80vw;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  position: relative;
  padding: 9rem;
}

@media (max-width: 280px) {
  .container {
    padding: 4rem;
  }
}
